<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:36:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment2.categories(java.lang.String, java.lang.String)[pri:2, instance:assignment.Assignment2@7690781]">categories</td> 
  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:38:08</td>   <td>120454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment2.logOut()[pri:5, instance:assignment.Assignment2@7690781]">logOut</td> 
  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:35:48</td>   <td>-19711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment2.login()[pri:1, instance:assignment.Assignment2@7690781]">login</td> 
  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:37:13</td>   <td>65176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment2.manfacturers(java.lang.String, java.lang.String)[pri:4, instance:assignment.Assignment2@7690781]">manfacturers</td> 
  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:36:58</td>   <td>50041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment2.product()[pri:3, instance:assignment.Assignment2@7690781]">product</td> 
  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:35:29</td>   <td>-38308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assignment2.setUp()[pri:0, instance:assignment.Assignment2@7690781]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:35:48</td>   <td>-19281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assignment2.setUp()[pri:0, instance:assignment.Assignment2@7690781]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:36:45</td>   <td>37128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assignment2.setUp()[pri:0, instance:assignment.Assignment2@7690781]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:37:01</td>   <td>53913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assignment2.setUp()[pri:0, instance:assignment.Assignment2@7690781]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:37:49</td>   <td>100935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assignment2.setUp()[pri:0, instance:assignment.Assignment2@7690781]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:35:48</td>   <td>-19688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment2.tearDown()[pri:0, instance:assignment.Assignment2@7690781]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:36:45</td>   <td>37027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment2.tearDown()[pri:0, instance:assignment.Assignment2@7690781]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:37:01</td>   <td>53776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment2.tearDown()[pri:0, instance:assignment.Assignment2@7690781]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:37:48</td>   <td>100833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment2.tearDown()[pri:0, instance:assignment.Assignment2@7690781]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>23/01/27 21:38:10</td>   <td>122382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment2.tearDown()[pri:0, instance:assignment.Assignment2@7690781]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899223686</td>   <td></td> </tr>
</table>
